@model string
@{
    Layout = null;
}

<html>
<head>
    <link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
<div class="bg-secondary text-center text-white m-2 p-2">@Html.Raw(Model)</div>
</body>
</html>